.authentication-card {
  width: 30vw;
  height: fit-content;
  box-sizing: border-box;
}
.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

/* h1 {
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: var(--text-color);
} */

.authentication-card form, .signUp-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#switch {
  font-size: 0.85rem;
  text-align: center;
  margin-top: .1rem;
}

.name-row {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.name-row div {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  color: #333;
}

.phone-input-wrapper {
  position: relative;
  width: 100%;
}

.phone-code {
  position: absolute;
  left: 0.75rem;
  bottom: 0.5rem;
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: #555;
  pointer-events: none;
  height: 100%;
  font-weight: bold;
}

.phone-input-wrapper input {
  width: 100%;
  padding: 0.6rem 0.6rem 0.6rem 4rem;
  font-size: 1rem;
  border: 1px solid #bbb;
  border-radius: 5px;
  box-sizing: border-box;
  height: 2.5rem;
  line-height: 1.2;
}
.switch {
  background: none;
  border: none;
  color: #290000;
  font-weight: bold;
  cursor: pointer;
  padding: 0;
  font-size: 1em;
  text-decoration: none;
}
.switch:hover {
  background-color: transparent !important;
  color: #290000;
  text-decoration: underline;
}

.label-with-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.3rem;
}

.tooltip-icon {
  display: inline-block;
  background-color: transparent;
  color: #bbb;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  text-align: center;
  font-size: 0.7rem;
  cursor: help;
  font-weight: bold;
  line-height: 1rem;
  border: 1px solid #bbb;
}

.tooltip-error {
  border: 1px solid #6f0101;
  color: #6f0101;
}

.input-error {
  border: 2px solid #b00000 !important;
}

.error {
  color: #b00000;
  font-size: 0.85rem;
  margin-top: -0.8rem;
  margin-bottom: 1rem;
  display: block;
}

@media (max-width: 960px) {
  .authentication-card {
    width: 45vw;
  }
}
@media (max-width: 650px) {
  .authentication-card {
    width: 70vw;
  }
}
