.wrapper,
.registeration-wrapper,
.set-password-wrapper {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  padding: 1rem;
  padding-top: 0;
  z-index: 0;
}

.sign-in-container {
  width: 27vw;
  height: fit-content;
  box-sizing: border-box;
  margin: 0 auto;
}

.sign-up-container {
  width: 27vw;
  height: fit-content;
  box-sizing: border-box;
  margin: 0 auto;
}

.sign-in-title,
.form-title {
  margin-bottom: 1.5rem;
  text-align: center;
}

.authentication-card form,
.signUp-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 1;
}

#confirm-password {
  margin-bottom: 0.5rem;
}

.sign-in-form input {
  margin-bottom: 0.5rem;
  font-family: "Playfair", serif;
}

.forget-password {
  padding-left: 0.3rem;
  margin-bottom: 0.4rem;
  font-weight: bold;
}

.sign-in-form .error {
  padding-left: 0.3rem;
  margin-bottom: 0.3rem;
}

.sign-in-button {
  margin-top: 0.4rem;
}

.registeration-form {
  width: 28vw;
}

#switch {
  font-size: 0.85rem;
  text-align: center;
  margin-top: 0.1rem;
}

.name-row {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.name-row div {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  color: #333;
}

.phone-input-wrapper {
  position: relative;
  width: 100%;
}

.phone-code {
  position: absolute;
  left: 0.75rem;
  bottom: 0.3rem;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  color: #555;
  pointer-events: none;
  height: 100%;
  font-family: "Trebuchet MS", sans-serif;
}

.phone-input-wrapper input {
  width: 100%;
  padding: 0.6rem 0.6rem 0.8rem 3.5rem;
  border: 1px solid #bbb;
  box-sizing: border-box;
  height: 2.5rem;
  font-family: "Trebuchet MS", sans-serif;
  margin-bottom: 0.5rem;
}

.switch {
  background: none;
  border: none;
  color: #290000;
  font-weight: bold;
  cursor: pointer;
  padding: 0;
  font-size: 1em;
  text-decoration: none;
}
.switch:hover {
  background-color: transparent !important;
  color: #290000;
  text-decoration: underline;
}

.label-with-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.3rem;
}

.tooltip-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: var(--text-color);
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  text-align: center;
  font-size: 0.75rem;
  cursor: help;
  font-weight: bold;
  border: 1px solid var(--text-color);
}

.tooltip-error {
  border: 1px solid #6f0101;
  color: #6f0101;
}

.input-error {
  border: 2px solid #bc0202 !important;
}

.confirm-password {
  margin-bottom: 0.5rem !important;
}

/* resgiteration */

.registeration-wrapper,
.set-password-wrapper {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  padding: 0 !important;
  overflow-x: hidden;

  overflow-y: auto;
}

.registeration-wrapper .registeration-form,
.set-password-form {
  flex: 1;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.registeration-form div {
  width: 42vw;
  margin: 0 auto;
}

.img-side {
  width: 43%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.registeration-form button {
  margin-top: 0.5rem;
}

.registeration-wrapper .card {
  width: fit-content;
  padding:2rem;
  padding-bottom: 1rem;
}
/* set password page */

.set-password-wrapper .img-side {
  background-position: left;
}

.set-password-form {
  padding: 2rem;
  max-width: 40%;
}

@media (max-width: 1350px) {
  .registeration-form {
    width: 40vw;
  }
  .sign-in-container {
    width: 40vw;
  }

  .sign-up-container {
    width: 36vw;
  }

  .sign-up-container h1 {
    font-size: 2.8rem;
  }
}
@media (max-width: 1100px) {
  .sign-in-container {
    width: 38vw;
  }
}

@media (min-width: 1000px) {
  .registeration-form {
    width: 28vw;
  }
}

@media (max-width: 1000px) {
  .set-password-form {
    max-width: 50%;
  }
}

@media (max-width: 960px) {
  .sign-in-container {
    width: 43vw;
  }
  .registeration-form {
    width: 50vw;
  }

  .sign-in-container,
  .sign-up-container {
    width: 45vw;
  }
}

@media (max-width: 900px) {
  .registeration-form {
    width: 100% !important;
    padding: 1.8rem;
  }

  .registeration-wrapper,
  .set-password-wrapper {
    flex-direction: column;
  }
  .img-side {
    width: 100% !important;
    min-height: 80%;

    background-size: contain;
    background-position: bottom;
  }
  .set-password-wrapper .img-side {
    width: 100vw;
    background-size: cover;
    background-position: center;
  }

  .set-password-form {
    max-width: unset;
    /*  flex: 1; */
    width: 90vw !important;
  }

  .registeration-form div {
    width: 58vw;
  }
}

@media (max-width: 800px) {
  .img-side {
    height: 80% !important;
    background-repeat: no-repeat;
  }
  .set-password-form {
    max-width: 90%;
  }

  .sign-in-container,
  .sign-up-container {
    width: 50vw;
  }
}

@media (max-width: 700px) {
  .registeration-form {
    width: 60vw;
  }
  .sign-in-container {
    width: 58vw;
  }

  .img-side {
    min-height: 70vh !important;
  }

  .sign-up-container {
    width: 55vw;
  }
}

@media (max-width: 600px) {
  .sign-in-container {
    width: 70vw;
  }

  .registeration-form div {
    width: 80vw;
  }

  .sign-up-container {
    width: 65vw;
  }
}
