.jewelry-dropdown {
  width: 75%;
  position: relative;
}

.dropdown-header {
  border: 1px solid #ccc;
  padding: 10px;
  cursor: pointer;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-arrow {
  margin-left: 10px;
}

.dropdown-options {
  position: absolute;
  width: 100%;
  max-height: 150px;
  overflow-y: auto;
  background: white;
  border: 1px solid #ccc;
  z-index: 100;
  list-style: none;
  padding: 0;
}

.dropdown-option {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.dropdown-option:last-child {
  border-bottom: none;
}

.dropdown-option:hover {
  background-color: #f5f5f5;
}

.dropdown-option.selected {
  background-color: #471e1e;
  color: wheat;
  font-weight: bold;
}
