.jewelry-dropdown {
  width: 75%;
  position: relative;
}

.dropdown-header {
  border: 1px solid #ccc;
  padding: 10px;
  cursor: pointer;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-arrow {
  margin-left: 10px;
}

.dropdown-options {
  position: absolute;
  width: 100%;
  max-height: 150px;
  overflow-y: auto;
  background: white;
  border: 1px solid #ccc;
  z-index: 100;
  list-style: none;
  padding: 0;
}

.dropdown-option {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.dropdown-option:last-child {
  border-bottom: none;
}

.dropdown-option:hover {
  background-color: #f5f5f5;
}

.dropdown-option.selected {
  background-color: #471e1e;
  color: wheat;
  font-weight: bold;
}

.collection-toggle-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 0.75rem 1rem;
  border-radius: 6px;
}

/* collection show page */

.collection-item-section {
  margin-bottom: 1rem;
  padding: 0 1rem;
  border-radius: 6px;
}

.collection-item-title {
  font-size: var(--font-size-h6);
  font-weight: 600;
}

.collection-item-details p {
  margin: 0.2rem;
}

.collection-list {
  margin: 0.5rem 0 1rem;
  padding-left: 1.6rem;
}

.collection-list li {
  list-style-type: disc;
  font-size: 0.95rem;
  margin-bottom: 0.3rem;
}
