.contact-page {
  width: 100%;
  height: 100%;
  padding: 4em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-page h1 {
  margin-bottom: 1.8em;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 80%;
}

.contact-form input,
.contact-form textarea {
  padding: 0.8rem 1rem;
  font-size: 1rem;
  border-radius: 8px;
  resize: vertical;
}

.contact-form button {
  padding: 0.8rem;
}

@media (max-width: 600px) {
  .contact-page {
    padding: 4em 2em;
  }
  .contact-form {
    width: 100%;
  }
}
