.customer-jewelry-page {
  width: 100%;
  padding: 2.5rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.customer-jewelry-page .service-page-content {
  flex: 1;
  margin-bottom: 1rem;
}

.customer-jewelry-page .service-images {
  width: 65vw !important;
  height: 80vh;
}

.customer-jewelry-page .service-image-slider {
  height: 100%;
}
.customer-jewelry-page .service-information {
  position: relative;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.shop-name-in-product-page {
  opacity: 0.8;
  font-size: 1.3rem !important;
}

.service-description {
  margin-top: 1rem;
}

.jewelry-inputs {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 50%;
}

.jewelry-inputs input {
  width: 50%;
}

.jewelry-inputs-select-and-size {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 50%;
}

.jewelry-inputs .ring-size-selector {
  background-color: transparent;
  width: auto;
  margin: 0;
}

.add-or-wishlist {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
}

.add-or-wishlist button {
  width: 50%;
}

.add-or-wishlist img {
  height: 1.2rem !important;
  width: 1.2rem !important;
}
.add-or-wishlist img:hover {
  height: 1.3rem !important;
  width: 1.3rem !important;
}

.customer-jewelry-page .jeweler-service-details {
  flex-direction: row;
  align-items: center;
  gap: 0.4rem;
}
.customer-jewelry-page .jeweler-service-details .service-price {
  font-size: 1.8rem;
}

.jewelry-certifications {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.jewelry-certifications h3 {
  font-size: 1.5rem;
}

.jewelry-certifications p {
  font-size: 1.2rem;
  color: var(--accent-color);
}

#jewelry-price {
  font-family: "sans-serif";
  font-size: 1.2rem !important;
  color: var(--text-color);
}

.extra-details-wrapper {
  display: flex;
  gap: 1rem;
}

.customer-jewelry-page h4 {
  font-size: 1.3rem !important;
  font-weight: 600 !important;
  margin-top: 0.5rem;
}

.customer-jewelry-page .reviews-heading {
  margin-top: 1rem;
}

.customer-collection-details {
  padding-left: 1.2rem;
}

.jewelry-page .feedback-modal-overlay .card,
.wishlist-page .card {
  width: 35%;
}

.customer-jewelry-page .card,
.customer-jewelry-page + .feedback-modal-overlay .card,
.checkout-wrapper .card {
  width: 40%;
}

@media (max-width: 1200px) {
  .jewelry-page .feedback-modal-overlay .card,
  .wishlist-page .card {
    width: 45%;
  }
}
@media (max-width: 1000px) {
  .jewelry-page .feedback-modal-overlay .card,
  .wishlist-page .card {
    width: 50%;
  }
}

@media (max-width: 1100px) {
  .customer-jewelry-page .card,
  .customer-jewelry-page + .feedback-modal-overlay .card,
  .checkout-wrapper .card,
  .cart-wrapper .card,
  .wishlist-page .card {
    width: 55%;
  }
}

@media (max-width: 900px) {
  .customer-jewelry-page .service-information {
    height: fit-content !important;
    justify-content: flex-start;
    flex: none;
  }

  .customer-jewelry-page .service-images {
    width: 80vw !important;
    flex: none;
  }

  .jewelry-inputs {
    margin-bottom: 0 !important;
    width: 100%;
    gap: 0.5rem;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0;
  }

  .jewelry-inputs-select-and-size {
    flex-direction: row;
  }
  .jewelry-inputs .add-or-wishlist {
    width: 70% !important;
    margin-bottom: 0;
  }

  .jewelry-inputs button {
    margin: 0;
  }

  .jewelry-inputs input[type="number"] {
    min-width: 10%;
    width: 35%;
    margin: 0;
  }

  .customer-jewelry-page .service-page-content {
    height: fit-content !important;
  }
  .jewelry-page .feedback-modal-overlay .card,
  .wishlist-page .card {
    width: 70%;
  }
}

@media (max-width: 800px) {
  .customer-jewelry-page .card,
  .customer-jewelry-page + .feedback-modal-overlay .card,
  .checkout-wrapper .card,
  .cart-wrapper .card,
  .wishlist-page .card {
    width: 60%;
  }
}

@media (max-width: 700px) {
  .customer-jewelry-page .card,
  .customer-jewelry-page + .feedback-modal-overlay .card,
  .checkout-wrapper .card,
  .cart-wrapper .card,
  .wishlist-page .card {
    width: 69%;
  }
}

@media (max-width: 600px) {
  .extra-details-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
  }
  .jewelry-inputs {
    margin-bottom: 0 !important;
    width: 100%;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0;
  }
  .jewelry-inputs-select-and-size {
    width: 60%;
  }

  .jewelry-inputs .add-or-wishlist {
    width: 77% !important;
  }
  .add-or-wishlist button {
    width: 100% !important;
  }

  .jewelry-page .feedback-modal-overlay .card {
    width: 80%;
  }

  .customer-jewelry-page .card,
  .customer-jewelry-page + .feedback-modal-overlay .card,
  .checkout-wrapper .card,
  .cart-wrapper .card,
  .wishlist-page .card {
    width: 78%;
  }
}
