footer {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.5rem 0 0.5rem 2rem;
  background-color: var(--footer-bg);
  color: var(--text-color);
}

.links {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
  margin: 0 3rem 0 0;
}

#durra {
  margin: auto;
  font-size: 0.5rem;
  font-weight: bold;
  color: var(--text-color);
  font-family: 'Times New Roman', Times, serif;
}
.social-media {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#theme,
#logout {
  display: inline;
  background-color: transparent;
}

footer p {
  cursor: pointer;
  opacity: 0.8;
  font-size: 0.8rem;
}
.row {
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
  padding-left: 0.2rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}
