
footer {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 1rem 1rem 2rem;
  background-color: var(--footer-bg);
  color: var(--text-color);
}

.links {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: .2rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
  margin: 0 3rem 0 0;
}

h6 {
  margin-bottom: 0;
  font-size: 0.9rem;
}

#durra {
  margin: auto;
  font-size: 0.6rem;
  font-weight: bold;
  color: var(--text-color);
}
.social-media {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#theme {
  display: inline;
  background-color: transparent;
}

img {
  display: inline;
  height: 1rem;
  width: 1rem;
}

footer p {
  cursor: pointer;
}
