footer {
  width: 100%;
  margin-top: auto;
  padding: 1.5rem 0 1rem 0;
  background-color: var(--footer-bg);
  color: var(--text-color);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.4rem;

}

.footer-container {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 100%;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
}

.logo-container {
  width: fit-content;

  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  /* text-align: center; */
}

.logo-container .brand-logo {
  margin: 0;
  padding: 0;
  padding-left: 1rem;
  font-size: 2rem;
}

.logo-container span {
  font-size: 0.8rem;
  opacity: 0.8;
  text-align: center !important;
  position: absolute;
  bottom: -2px;
  left: 90%;
}
.footer-links {
  display: grid;
  grid-template-rows: auto auto auto;
  gap: 0 1.5rem;
  width: 100%;
  /* align-self: flex-end; */
  /* margin-right: 2rem; */
}

.row1 {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 2rem;
  text-align: center;

  width: 100%;
  width: 100vw;
  opacity: 0.9;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.container h6 {
  color: var(--text-color);
  font-size: 0.8rem;
  cursor: pointer;
}

.container h6:hover {
  text-decoration: underline;
  color: var(--a-hover-color);
}

@media (max-width: 850px) {
  .row1 {
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 1rem;
    gap: .5rem 2rem;
  }
}
@media (max-width: 700px) {
  .row1 {
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 1rem;
    padding-left: 0;
    gap: 1rem 1rem;
  }
}
@media (max-width: 600px) {
  .footer-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }
  .row1 {
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 1rem;
    gap: .5rem 2rem;
  }
}
