.orders-page {
  padding: 0 2rem;
  margin: 0;
}

.order-card {
  --border-radius: 0.75rem;
  --primary-color: var(--btn-bg);

  padding: 1.5rem;
  cursor: pointer;
  border-radius: var(--border-radius);
  background: var(--card-bg-color);
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 3%);
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  height: fit-content;
  min-height: 45vh;
}
.order-card h4 {
  font-size: var(--font-size-h6);
}

.order-card > * + * {
  margin-top: 1.1em;
}

.order-id p,
.order-page-heading p {
  font-size: 0.9rem;
  opacity: 0.9;
}

.order-card__content {
  font-size: 0.86rem;
}

.order-card__title {
  padding: 0;
  font-size: 1.3rem;
  font-weight: bold;
}

.order-dates {
  position: absolute;
  bottom: 0;
}

.order-image {
  display: flex;
  flex-direction: column;
}

.order-image img {
  height: 35vh;
  border-radius: 3px;
}
.order-overview {
  display: flex;
  flex-direction: column;
}

.order-customer,
.order-collection-method,
.order-payment-status,
.order-status,
.order-total-price,
.order-content {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.orders-page-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: 1 / -1;
  margin-bottom: 1.5rem;
}

.toggle-filter-btn {
  background-color: transparent !important;
  color: var(--text-color);
  border: solid 1px var(--text-color);
  cursor: pointer;
  font-size: 0.9rem;
  width: 15%;
}

.toggle-filter-btn:hover {
  color: var(--a-hover-color);
}

.order-general {
  flex: 1;
  position: relative;
  align-self: stretch;
}

.order-general-heading {
  font-weight: 600;
}
.order-general h4 {
  font-weight: 500;
}

.order-details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* update button, currently commented */
.jeweler-update-status {
  position: absolute;
  bottom: 1rem;
}

.order-information {
  width: 100%;
  height: 100%;
}

.order-information h3 {
  color: var(--accent-color);
  font-weight: 500;
}

#services-span {
  display: flex;
  align-items: center;
  color: var(--accent-color);
}

.jewelry-container,
.service-container {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  height: fit-content;
}

.jewelry-in-order,
.service-in-order {
  width: 100%;
  height: 20vh;
  background-color: var(--card-bg-color);
  border: solid 2px #1f1f1f;
  box-sizing: border-box;

  padding: .5rem;
  border-radius: 6px;

  display: flex;
  gap: 0.5rem;
}

.image-in-order {
  width: 15%;
  height: 100%;
}

.jewelry-in-order-details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.jewelry-in-order-details .price {
  font-size: var(--font-size-text-s) !important;
}
.jewelry-in-order-details span {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
