.jewelry-add-form {
  max-width: 60vw;
  /* width: fit-content; */
  padding: 0 1rem;
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  background-color: rgb(255, 255, 255);
}

.img-side {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem 0;
  height:auto;
}
.previews {
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.image-add {
  display: none;
}


.image-add-label {
  position: absolute;
  bottom: .5rem;
  right: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: #eee;
  color: #333;
  font-size: 1rem;
  border: 1px solid #ccc;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s ease;
  z-index: 2;
}

.image-add-label:hover {
  opacity: .9;
}

/* Position context */
.main-image-container {
  position: relative;
  width: 30vw;
  margin-bottom: 1rem;
  padding: 0;
}

#main-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.25rem;
}


.extra {
  display: flex;
  justify-content: space-between;
  gap: 0.4rem;
  flex-wrap: wrap;
}

.preview-container {
  position: relative;
  width: 6vw;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: space-between;
}

.preview-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.25rem;
}

.remove-btn {
  position: absolute;
  top: 0.3em;
  right: 0.3em;
  background: red;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  width: 1em;
  height: 1em;
  font-size: 0.6em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-side {
  position: relative;
  flex: 1;
  padding: 1rem;
  margin: 0;
  min-height: 400px;
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}
.back {
  background-color: transparent !important;
  color: var(--text-color);
  text-align: left;
  opacity: 0.9;
  margin-bottom: 0;
}

.precious-material-form, .pearls-form, .diamonds-form, .other-materials-form, .certifications-form {
  max-height: 420px;
  overflow-y: auto;
  overflow-x: hidden;
}
.material-group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
  padding: 0;
}
.selection {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 0;
}
.delete-material {
  width: 10%;
}

.material-selector,
.karat-selector,
.production-cost, .material-weight {
  padding: 0.5rem;
  height: fit-content;
  margin: 0;
  background-color: transparent;
}
.material-selector,
.karat-selector {
  border: 1px solid #ccc;
  border-radius: 5px;
}

.view-title {
  margin-top: 0;
  margin-bottom: 0.6rem;
}

.clarification {
  margin-top: 0;
  font-size: 0.8rem;
  opacity: 0.9;
}

.add-material {
  position: absolute;
  bottom: 3rem;
  right: 1rem;

  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  margin-bottom: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 12px rgba(83, 83, 83, 0.6);
}

.next-button, .submit-button {
  position: absolute;
  bottom: 1rem;
  right: 1rem;

  border: none;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

/* cater for smaller devices */
@media (max-width: 500px) {
  .jewelry-add-form {
    flex-direction: column;
  }
  .main-image-container {
    width: 50vw;
  }
}
@media (max-width: 800px) {
  .jewelry-add-form {
    max-width: 90vw;
  }
}
