.jewelry-details-wrapper,
.collection-details-wrapper {
  border-top: 1px solid var(--text-color);
  border-bottom: 1px solid var(--text-color);
  margin: 1rem 0;
}

.jeweler-reviews {
  
}

.heading-and-editor {
  max-width: 80%;
  line-height: 2.2rem;
}

.jewelry-overview-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.jewelry-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.jewelry-extra-details span {
  display: flex;
  gap: 0.4rem;
}

.jewelry-extra-details h5 {
  font-size: 1.2rem;
  font-weight: 500;
}

.jewelry-details-heading,
.collection-toggle-title {
  font-size: var(--font-size-h5);
  font-weight: 600;
}

.jewelry-extra-details {
  padding: 0 1rem 1rem 1.3rem;
  font-size: var(--font-size-text-s);
  line-height: 1.5rem;
  margin-top: 0;
}

.jewelry-details p {
  font-size: var(--font-size-text-l);
  color: var(--text-color);
  margin: 0;
}

.list-details {
  padding: 0 1.4rem;
}

@media (max-width: 1000px) {
  .jewelry-overview-wrapper {
    flex-direction: row;
    gap: 2rem;
    margin-bottom: 0;
  }
}
