.orders-page {
  padding: 0 2rem;
  margin: 0;
}

.order-card {
  --border-radius: 0.75rem;
  --primary-color: var(--btn-bg);

  padding: 1.5rem;
  cursor: pointer;
  border-radius: var(--border-radius);
  background: var(--card-bg-color);
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 3%);
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  height: fit-content;
  min-height: 45vh;
}

.order-card > * + * {
  margin-top: 1.1em;
}

.order-id p,
.order-page-heading p {
  font-size: 0.9rem;
  opacity: 0.9;
}

.order-card__content {
  font-size: 0.86rem;
}

.order-card__title {
  padding: 0;
  font-size: 1.3rem;
  font-weight: bold;
}

.order-dates {
  position: absolute;
  bottom: 0;
}

.order-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* background-color: var(--accent-color); */
  /* color:#f1f1f1; */
  border-radius: 5px;
  border: solid 2px #1f1f1f;
  padding: 1rem;
}

.order-customer,
.order-collection-method,
.order-payment-status,
.order-status,
.order-total-price {
  display: flex;
  gap: 0.6rem;
}

.orders-page-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: 1 / -1;
  margin-bottom: 1.5rem;
}

.toggle-filter-btn {
  background-color: transparent !important;
  color: var(--text-color);
  border: solid 1px var(--text-color);
  cursor: pointer;
  font-size: 0.9rem;
  width: 15%;
}

.toggle-filter-btn:hover {
  color: var(--a-hover-color);
}

.order-general {
  width: 35vw;
  position: relative;
  align-self: stretch;
}

.jeweler-update-status {
  position: absolute;
  bottom: 1rem;
}

.order-information h3 {
  color: var(--accent-color);
}

.order-information {
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

.jewelry-container,
.service-container {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  height: fit-content;
}

.jewelry-in-order,
.service-in-order {
  width: 100%;
  height:20vh;
  background-color: var(--card-bg-color);
  border: solid 2px #1f1f1f;
  box-sizing: border-box;

  padding: 1rem;
  border-radius: 6px;

  display: flex;
  gap: 0.5rem;
}

.image-in-order {
  width: 15%;
  height: 100%;
}

.jewelry-in-order-details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.jewelry-in-order-details span {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
