.orders-page-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  margin: 0 auto;
  width: 100%;
  position: relative;
}

.orders-page-header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  text-align: center;
  justify-content: center;
  width: 100%;
}

.orders-grid {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  width: 100%;
}

.orders-page-container .empty,
.jeweler-collections .empty, .jeweler-services .empty {
  display: flex;
  flex-direction: column;
  margin-top: 30vh;
  width: 100%;
  height: 100%;
}


.orders-grid a:hover {
  text-decoration: none !important;
}

.orders-grid a {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.orders-grid .order-card {
  max-width: 22vw;
  width: 100%;
  margin: 0 auto;
  height: fit-content;
  min-height: 50vh;
  cursor: pointer;
  border-radius: 12px;
  background: var(--card-bg-color, #fff);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.03);
  position: relative;

  display: flex;
  flex-direction: column;
}

.order-card h4 {
  font-size: var(--font-size-h6);
}

.order-page-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  margin-bottom: 1rem;
  width: 100%;
  height: fit-content;
}

.orders-filter-btn-wrapper {
  width: 100%;
}

.update-status {
  display: flex;
  gap: 1rem;
}

.update-status button {
  padding: 0.8rem 1.5rem;
  white-space: nowrap;
  height: 80% !important;
  margin: auto 0 !important;
  background-color: transparent;
  border: 2px solid var(--accent-color);
  color: var(--accent-color);
  font-weight: 500;
}

.update-status button:hover {
  background-color: var(--btn-hover);
  color: var(--btn-color);
}

#accept,
#reject {
  cursor: pointer;
}

#accept {
  color: green;
}

#reject {
  color: red;
}

.order-id p,
.order-page-heading p {
  font-size: 1rem;
  opacity: 0.9;
}

.order-card__title {
  padding: 0;
  font-size: 1.3rem;
  font-weight: bold;
}

.order-dates {
  position: absolute;
  bottom: 0;
}

.order-image-wrapper {
  height: 80%;
  position: relative;
  display: flex;
  justify-content: center;
}

.order-card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.order-image {
  display: flex;
  flex-direction: column;
}

.order-image img {
  height: 35vh;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.order-card-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  position: relative;
}

.order-card-info div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.order-overview {
  display: flex;
  flex-direction: column;
}

.order-customer,
.order-collection-method,
.order-payment-status,
.order-status,
.order-total-price,
.order-content {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.toggle-filter-btn {
  background-color: transparent !important;
  color: var(--text-color);
  width: fit-content;
  position: absolute;
  right: 1rem;
  top: 5rem;
  text-align: -right;
}

.toggle-filter-btn:hover {
  color: var(--a-hover-color);
}

.orders-page .filter-wrapper {
  top: 0;
}

.orders-page-container + .filter-overlay {
  width: 100vw !important;
}

.image-box {
  position: relative;
  width: fit-content;
}

.box-image {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.image-index-overlay {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-size: 0.75rem;
  padding: 0.3rem 0.6rem;
  border-radius: 999px;
  font-weight: bold;
}

.order-general {
  flex: 1;
  position: relative;
  align-self: stretch;
}

.order-general-heading {
  font-weight: 600;
  margin-bottom: 1rem;
}

.order-general h4 {
  font-weight: 500;
  font-size: var(--font-size-h5);
}

.order-details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.order-details p {
  font-size: 1.1rem;
  padding-left: 0.2rem;
}

#order-price {
  font-size: var(--font-size-text-ss) !important;
}

.order-information {
  border-top: 1px solid var(--text-color);
  border-bottom: 1px solid var(--text-color);
  margin: 0;
  margin-top: 1rem;
  gap: 0 !important;
  height: fit-content;
}

.contents-toggle-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-weight: 600;
}

.order-information-details {
  padding: 0.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.order-information-details h4 {
  margin-bottom: 0;
}

.contents-item {
  padding: 0;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #ddd;
}

.contents-item:first-of-type {
  border-bottom: none;
}

.contents-item h5 {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 0.3rem;
}

.contents-item-details {
  display: flex;
  gap: 0.5rem;
  font-size: var(--font-size-text-s);
  margin: 0.2rem 0;
  color: var(--text-color);
}

.contents-item-details span {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.contents-item-details span h6 {
  font-weight: 600;
}
.order-service-list {
  margin-left: 1.5rem;
}

.service-in-order .jewelry-array-in-service p {
  padding-left: 0.5rem;
  margin: 0.2rem 0;
}

.order-information h3 {
  color: var(--accent-color);
  font-weight: 400;
}

#services-span {
  display: flex;
  align-items: center;
  color: var(--accent-color);
}

.jewelry-container,
.service-container {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  height: fit-content;
  gap: 0.5rem;
}

.jewelry-in-order,
.service-in-order {
  width: 100%;
  height: fit-content;
  background-color: var(--card-bg-color);
  border: solid 1px #1f1f1f;
  box-sizing: border-box;
  padding: 0.5rem;
  border-radius: 6px;
  display: flex;
  gap: 0.5rem;
}

.image-in-order {
  width: 25%;
}

.jewelry-in-order-details {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  width: 100%;
}

.jewelry-in-order-details .price {
  font-size: var(--font-size-text-s) !important;
}

.jewelry-in-order-details span {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.jewelry-in-order-details .price {
  margin-top: 0 !important;
}

.jewelry-array-in-service {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1200px) {
  .orders-page .orders-grid,
  .orders-page-container .orders-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .orders-grid .order-card {
    width: 28vw !important;
    max-width: 28vw !important;
  }

  .orders-page-container + .filter-overlay .filter-wrapper,
  .orders-page-container + .filter-overlay .filter-sidebar {
    width: 43vw !important;
  }
}

/* @media (max-width: 800px) {
  .jeweler-collections .empty {
    margin-top: 25%;
  }
} */

@media (max-width: 700px) {
  .order-page-content {
    flex-direction: column;
  }
}

@media (max-width: 900px) {
  .orders-page .orders-grid,
  .orders-page-container .orders-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .orders-grid .order-card {
    max-width: 36vw !important;
    width: 36vw !important;
    margin: 0 auto;
  }

  .orders-page-container + .filter-overlay .filter-wrapper,
  .orders-page-container + .filter-overlay .filter-sidebar {
    width: 42vw !important;
  }
}

@media (max-width: 800px) {
  .orders-page .orders-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .orders-grid .order-card {
    max-width: 43vw !important;
    width: 43vw !important;
  }

  .order-page .service-images {
    width: 100% !important;
  }

  .orders-page-container + .filter-overlay .filter-wrapper,
  .orders-page-container + .filter-overlay .filter-sidebar {
    width: 43vw !important;
  }
}

@media (max-width: 700px) {
  .orders-page .orders-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .orders-grid .order-card {
    max-width: 43vw !important;
    width: 43vw !important;
  }

  .order-page {
    padding: 1rem !important;
  }

  .order-page .service-images {
    width: 100% !important;
  }

  .orders-page-container + .filter-overlay .filter-wrapper,
  .orders-page-container + .filter-overlay .filter-sidebar {
    width: 45vw !important;
  }
}

@media (max-width: 600px) {
  .orders-page .orders-grid,
  .orders-page-container .orders-grid {
    grid-template-columns: 1fr !important;
  }

  .orders-page-container .toggle-filter-btn {
    width: 25%;
  }

  .orders-page-container + .filter-overlay .filter-wrapper,
  .orders-page-container + .filter-overlay .filter-sidebar {
    width: 47vw !important;
  }

  .orders-grid .order-card {
    max-width: 56vw !important;
    width: 56vw !important;
    margin: 0 auto;
  }
}
