.jeweler-services {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 2rem;
  background-color: azure;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 1.5rem;
  padding-top: 3rem;
  overflow-y: auto;
  box-sizing: border-box;
}
.services-heading {
  grid-column: 1 / -1; 
  margin-bottom: 1rem;
  text-align: center;
}

.service-card {
  --border-radius: 0.75rem;
  --primary-color: var(--btn-bg);
  --secondary-color: #3c3852;

  font-family: "Arial";
  padding: 1rem;
  cursor: pointer;
  border-radius: var(--border-radius);
  background: #f1f1f3;
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 3%);
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 45vh;
}

.service-card > * + * {
  margin-top: 1.1em;
}

.service-card__content {
  color: var(--secondary-color);
  font-size: 0.86rem;
}

.service-card__title {
  padding: 0;
  font-size: 1.3rem;
  font-weight: bold;
}

.service-card__image {
  width: 100%;
  height: 20vh;
  border-radius: 0.5rem;
  object-fit: cover;
}

.service-card__date {
  color: #6e6b80;
  font-size: 0.8rem;
}

.service-card__arrow {
  position: absolute;
  background: var(--primary-color);
  padding: 0.4rem;
  border-top-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  bottom: 0;
  right: 0;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-card__arrow svg {
  transition: 0.2s;
}

.service-card:hover .service-card__title {
  color: var(--primary-color);
}

.service-card:hover .service-card__arrow {
  background: #111;
}

.service-card:hover .service-card__arrow svg {
  transform: translateX(2px);
}

.add-service {
  position: absolute;
  bottom: 1rem;
  right: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #eee;
  color: var(--text-color);
  font-size: 1rem;
  border: 1px solid #ccc;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin-left: 95%;
  z-index: 2;
}
