.jewelry-page {
  width: 100%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}

.jewelry-page h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.jewelry-page-overview {
  padding: 1rem;
  border-bottom: 1px solid #1f1f1f;
  border-top: 1px solid #1f1f1f;
  display: flex;
  margin-bottom: 2rem;
}

.jewelry-page-overview p {
  text-align: center;
}

.jewelry-page-overview p:first-of-type {
  border-right: 2px solid #343434;
  width: 75%;
}

.jewelry-page-overview p:nth-of-type(2) {
  width: 25%;
}

.jewelry-page-main {
  width: 100%;
  display: flex;
  flex-direction: row;
}

/* .filter-side {
  width: 10%;
} */

.jewelry-grid {
  padding: 0 1.5rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* max 4 per row */
  gap: 2rem;
}
