.live-prices-page {
  height: 100vh;
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* gap: 2rem; */
}

.live-prices-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.precious-metals-prices {
  display: flex;
  justify-content: center;
  gap: 3rem;
  width: 80%;
  height: 80%;
}

.precious-metals-prices h2 {
  color: var(--accent-color);
}

.silver-prices,
.gold-prices,
.platinium-prices {
  padding: 1rem;
  border-radius: 50%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  height: 40%;
  width: 18%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  transition: transform 0.3s ease; 
}


.silver-prices:hover,
.gold-prices:hover,
.platinium-prices:hover {
  transform: scale(1.1);
}


