.live-prices-page {
  height: 100%;
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* gap: 2rem; */
}

.live-prices-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.precious-metals-prices {
  display: flex;
  justify-content: center;
  margin: 5rem 0;
  gap: 3rem;
  width: 100%;
  height: 100%;
}

.precious-metals-prices h2 {
  color: var(--accent-color);
}

.silver-prices,
.gold-prices,
.platinium-prices {
  padding: 1rem;
  border-radius: 50%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  height: 25vh;
  width: 12%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  transition: transform 0.3s ease;
}

.silver-prices:hover,
.gold-prices:hover,
.platinium-prices:hover {
  transform: scale(1.1);
}

.prices-chart-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.prices-chart-container canvas {
  width: 65% !important;
  height: 40vh !important;
}
@media (max-width: 1300px) {
  .silver-prices,
  .gold-prices,
  .platinium-prices {
    width: 22vw;
  }
}
@media (max-width: 1100px) {
  .silver-prices,
  .gold-prices,
  .platinium-prices {
    width: 27%;
  }
}

@media (max-width: 750px) {
  .precious-metals-prices {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .silver-prices,
  .gold-prices,
  .platinium-prices {
    padding: 2rem;
    height: 27vh;
    width: 35vw;
  }
  .prices-chart-container canvas {
  width: 100% !important;
  height: 40vh !important;
}
}
@media (max-width: 600px) {
  .silver-prices,
  .gold-prices,
  .platinium-prices {
    padding: 2rem;
    height: 27vh;
    width: 38vw;
  }
}
