.top-wrapper,
.topNav,
.sideNav,
.toggleBtn {
  background-color: var(--nav-bg);
  color: var(--text-color);
}

.top-wrapper {
  top: 0;
  width: 100%;
  margin: 0;
}

.topNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem 0.25rem 2rem;
  position: relative;
  border: none;
}

.topNav-right,
.topNav-center {
  display: flex;
  align-items: center;
}

.topNav-left {
  flex: 0.5;
}

.topNav-right {
  flex: 1;
  justify-content: flex-end;
  gap: 0.4rem;
}

.topNav-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.brand-logo,
.brand-logo-mobile {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  padding: 0 1rem;
  cursor: pointer;
}
.brand-logo-mobile {
  text-align: center;
  padding: 0;
  margin-bottom: 1rem;
  display: block;
}

.brand-logo,
.side-navbar-links a {
  color: var(--text-color);
}

.toggleBtn {
  font-size: 1rem;
  background: none;
  border: none;
  cursor: pointer;
  width: 20%;
  padding: 0.5rem 0.1rem 0.5 0.1rem;
  text-align: center;
}
.toggleBtn:hover {
  background-color: transparent !important;
}
.sideNav {
  position: fixed;
  top: 0;
  left: -100vw;
  height: 100vh;
  width: 30vw;
  padding: 2rem 0;
  display: none;
  gap: 1rem;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transition: left 0.3s ease-in-out;
  z-index: 1000;
  box-sizing: border-box;
}

.sideNav.open {
  left: 0;
}

.side-navbar-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  margin: 1.5rem 0 0 1.8rem;
}

.side-navbar-links a {
  text-decoration: none;
}

.hide-on-mobile {
  display: none;
}

#search,
#search:hover {
  background-color: transparent;
  height: fit-content;
  padding: 0;
}

.search-bar-container {
  padding: 1rem 1rem;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.search-input {
  padding: 0 1rem;
  width: 80%;
  height: 2.5rem;
  max-width: 630px;
  margin-bottom: 0;
  border: 1px solid #ccc;
  border-radius: 30px;
}

.jeweler-options {
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  color: var(--accent-color);
  margin: 0 0.2rem;
}

.large-left {
  display: flex;
  align-items: center;
  width: 50%;
  margin-bottom: 0.5rem;
}

.desktop-only {
  margin: 0 .5rem;
}
/* media queries are the one's responsible for showing the nav as a hidden menu for smaller screens*/

@media (min-width: 616px) {
  .toggleBtn {
    display: none;
  }
}

@media (max-width: 615px) {
  .sideNav {
    display: flex;
    flex-direction: column;
  }
  .topNav {
    padding-top: 0.5rem;
    padding-left: 0.5rem;
  }
  .desktop-only {
    display: none;
  }
}
