.top-wrapper,
.topNav,
.sideNav,
.toggleBtn {
  background-color: var(--nav-bg);
  color: var(--text-color);
}

.top-wrapper {
  top: 0;
  width: 100%;
  height: 10%;
  margin: 0;
  /* padding: 0; */
}

.topNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem 0.25rem 2rem;
  position: relative;
  border: none;
}

.hide {
  display: none !important;
}

.topNav-right,
.topNav-center {
  display: flex;
  align-items: center;
}

.topNav-left {
  flex: 0.5;
}

.topNav-right {
  flex: 1;
  justify-content: flex-end;
  gap: 0.5rem;
  padding-right: 0.5rem;
}

.guest-sign-in {
  width: 18%;
  background-color: transparent !important;
  border: 2px solid var(--accent-color);
  color: var(--accent-color);
}

.guest-sign-in:hover {
  background-color: var(--accent-color) !important;
  border: 2px solid var(--accent-color);
  color: var(--btn-color);
}

.topNav-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.brand-logo,
.brand-logo-mobile {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  padding: 0 1rem;
  cursor: pointer;
}

/* the logo showing inside the bar menu */
.brand-logo-mobile {
  text-align: center;
  padding: 0;
  margin-bottom: 1rem;
  display: block;
}

.brand-logo,
.side-navbar-links a {
  color: var(--text-color);
}

.toggleBtn {
  font-size: 1rem;
  background: none;
  border: none;
  cursor: pointer;
  width: 20%;
  padding: 0.5rem 0.1rem 0.5 0.1rem;
  text-align: center;
}

.toggleBtn:hover {
  background-color: transparent !important;
}

.sideNav {
  position: fixed;
  top: 0;
  left: -100vw;
  height: 100vh;
  width: 30vw;
  padding: 2rem 0;
  display: none;
  gap: 1rem;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transition: left 0.3s ease-in-out;
  z-index: 1000;
  box-sizing: border-box;
}

.sideNav.open {
  left: 0;
}

.side-navbar-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  margin: 1.5rem 0 0 1.8rem;
}

.side-navbar-links a {
  text-decoration: none;
}

.hide-on-mobile {
  display: none;
}

#search,
#search:hover {
  background-color: transparent;
  height: fit-content;
  padding: 0;
}

#search {
  width: 3%;
}

.search-bar-container {
  padding: 0.5rem 1rem;
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.search-bar-span {
  margin: 0.5rem 0;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #1f1f1f;
}

.close-search:hover {
  height: 1.2rem;
  width: 1.2rem;
}

.search-input {
  width: 100%;
  height: 100%;
  background-color: transparent !important;
  border: none !important;
  border-radius: 0;
  font-size: 1.5rem !important;
  font-family: "Playfair", serif;
  margin: 0;
}
.search-input:focus {
  outline: none;
}

.search-options {
  padding: 0 1rem;
  font-size: 1rem;
  opacity: 0.9;
}

.jeweler-options {
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  color: var(--accent-color);
  margin: 0 0.2rem;
}

.large-left {
  display: flex;
  align-items: center;
  width: 50%;
  margin-bottom: 0.5rem;
}

.desktop-only {
  margin: 0 0.5rem;
}

.icon-btn {
  position: relative;
  display: inline-block;
}

.icon-badge {
  position: absolute;
  top: -2px;
  right: -2px;
  background: rgb(184, 15, 15);
  font-family: "Times New Roman", Times, serif;
  color: white;
  width: 0.5rem;
  height: 0.5rem;
  font-size: 0.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2px;
}

.profile-menu {
  position: absolute;
  right: 1rem;
  top: 4rem;
  background: var(--nav-bg);
  border: 1px solid var(--accent-color);
  border-radius: 6px;
  padding: 0.6rem;
  display: flex;
  flex-direction: column;
  gap: 0;
  z-index: 2000;
  min-width: 150px;
  padding-bottom: 0.4rem;
  padding-top: 0.4rem;
}

.menu-item-wrapper {
  display: flex;
  gap: 0.4rem;
  align-items: center;
}

.pro {
  gap: 0.9rem;
  margin-bottom: 0.3rem;
}
.menu-item-wrapper img {
  height: 0.8rem !important;
  width: 0.6rem !important;
}

.menu-btn {
  text-decoration: none;
  color: var(--text-color);
  font-size: 0.95rem;
  padding: 0.4rem 0.6rem;
  text-align: left;
  background: transparent;
  border: none;
  cursor: pointer;
}

.profile-menu a:hover,
.menu-btn:hover {
  color: var(--a-hover-color);
  font-weight: bold;
}

/* media queries are the one's responsible for showing the nav as a hidden menu for smaller screens*/

@media (max-width: 800px) {
  #search {
    width: 5%;
  }
}

@media (min-width: 616px) {
  .toggleBtn {
    display: none;
  }
}

@media (max-width: 615px) {
  .sideNav {
    display: flex;
    flex-direction: column;
  }
  .topNav {
    padding-top: 0.5rem;
    padding-left: 0.5rem;
  }
  .desktop-only {
    display: none;
  }
  .large-left {
    margin-bottom: 0;
  }
}
