@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Lora&display=swap");

.top-wrapper,
.topNav,
.sideNav,
a, .toggleBtn {
  background-color: var(--nav-bg);
  color: var(--text-color);
}


.top-wrapper {
  top: 0;
  z-index: 1000;
  width: 100%;
  margin: 0;
}

.topNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem 0.25rem 2rem;
  position: relative;
  border: none;
}

.topNav-left,
.topNav-right,
.topNav-center {
  display: flex;
  align-items: center;
}

.topNav-left {
  flex: 0.5;
  gap: 0.6rem;
}

.topNav-right {
  flex: 1;
  justify-content: flex-end;
  gap: 0.6rem;
}

.topNav-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

img.icon {
  height: 1rem;
  width: 1rem;
}

.brand-logo,
.brand-logo-mobile {
  font-family: "Playfair Display", serif;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  padding: 0 1rem;
}
.brand-logo-mobile {
  text-align: center;
  padding: 0;
  margin-bottom: 1rem;
  display: block;
}

.pages-navbar.desktop-navbar {
  padding: 1rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.pages-navbar a {
  font-family: "Lora", serif;
  font-size: 1rem;
  text-decoration: none;
  font-weight: 400;
  padding: 0 0.4rem;
}

.pages-navbar a:hover {
  text-decoration: underline;
}

.brand-logo,
.pages-navbar a,
.side-navbar-links a {
  color: var(--text-color);
}

.disabled-link {
  opacity: 0.4;
  cursor: not-allowed;
}

.icon-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.toggleBtn {
  font-size: 1rem;
  background: none;
  border: none;
  cursor: pointer;
  width: 20%;
  padding: 0.5rem 0.1rem 0.5 0.1rem;
  text-align: center;
}
.toggleBtn:hover {
  background-color: transparent !important;
}

@media (min-width: 541px) {
  .toggleBtn {
    display: none;
  }
}

@media (max-width: 540px) {
  .pages-navbar.desktop-navbar {
    display: none;
  }
}

.sideNav {
  position: fixed;
  top: 0;
  left: -100vw;
  height: 100vh;
  width: 20%;
  padding: 2rem 3rem;
  display: none;
  gap: 1rem;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transition: left 0.3s ease-in-out;
  z-index: 1000;
}
@media (max-width: 540px) {
  .sideNav {
    display: flex;
    flex-direction: column;
  }
}

.sideNav.open {
  left: 0;
}

.side-navbar-links {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.side-navbar-links a {
  text-decoration: none;
}

.hide-on-mobile {
  display: none;
}
