.profile {
  width: 100vw;
  height: 100vh;
  padding: 2rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.profile-left,
.profile-right {
  height: 90%;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.profile-left {
  width: 30%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.profile-right {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.profile-image {
  height: 20%;
  width: 25%;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.profile-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 50%;
  display: block;
}

.profile-icons {
  display: flex;
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  gap: 0.3rem;
}

.profile-navbar {
  height: 10%;
  width: 100%;
  border-bottom: 1px solid rgb(72, 72, 72);
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.profile-details {
  flex: 1;
  overflow-y: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.account-information,
.address-view,
.orders-view {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

.account-information textarea {
  width: 100%;
}

.manual-toggle,
.cancel-button {
  margin: 1rem 0;
}

.cancel-button {
  opacity: 0.9;
}

.address-view-title {
  margin-bottom: 0.5rem;
}

.manual-toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  user-select: none;
  font-weight: 500;
  margin: 1rem 0;
  transition: color 0.2s ease;
}

.manual-toggle span {
  font-size: var(--font-size-text-l);
  font-weight: bold;
}

.profile-details .inline {
  display: flex;
  gap: 0.5rem;
}

.customer-addresses {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem 0.5rem;
  position: relative;
}

.address-details {
  display: flex;
  gap: 0.5rem;
}

.default-action {
  position: absolute;
  right: 0.5rem;
}

.default-button,
.default-label {
  background-color: transparent !important;
  color: red;
  text-align: right;
}
.default-label {
  cursor: auto;
}

.add-address {
  position: absolute;
  bottom: 0;
  right: 1rem;
  background-color: transparent !important;
  color: black;
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
}

.address-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.address-form input {
  margin-bottom: 0 !important;
}

.governante-select {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  background-color: white;
  color: #333;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  transition: border-color 0.2s ease-in-out;
}

.password-view {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
}

.password-view h3 {
  margin-bottom: 0.3rem;
}

.forgot-password {
  font-weight: 600;
  color: var(--accent-color);
}
.password,
.update-button {
  position: absolute;
  bottom: 0;
}

.password {
  width: 100%;
}

.order-group-in-profile {
  display: flex;
  flex-direction: column;
}

.order-card-in-profile {
  padding: 1.5rem;
  /* cursor: pointer; */
  border-radius: 5px;
  background: var(--card-bg-color);
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 3%);
  position: relative;

  display: flex;
  flex-direction: column;
  height: fit-content;
  gap: 0.5rem;
}

.placed-on-date {
  position: absolute;
  right: 1rem;
  bottom: 0.5rem;
  opacity: .8;
  font-size: var(--font-size-text-ss);
}

@media (max-width: 900px) {
  .profile-image {
    height: 25%;
    width: 50%;
    margin-bottom: 0;
  }
  .jeweler-name {
    font-size: var(--font-size-h4);
  }
}

@media (max-width: 760px) {
  .profile {
    flex-direction: column;
  }
  .profile-left,
  .profile-right {
    width: 100%;
  }
  .profile-left {
    height: 30%;
  }
  .profile-image {
    height: 30%;
    width: 80%;
    margin-bottom: 0.3rem;
  }
}
