.profile {
  width: 100vw;
  height: 100vh;
  padding: 2rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.profile-left,
.profile-right {
  height: 80%;
  border: 1px solid black;
}

.profile-left {
  width: 30%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.profile-right {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.profile-image {
  height: 30%;
  width: 35%;
  border: 1px solid black;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.profile-left h2 {
  margin-bottom: 0.5rem;
}

.profile-navbar {
  height: 10%;
  width: 100%;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}
.profile-details {
  flex: 1;
  overflow-y: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.account-information,
.address-view {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.account-information textarea {
  width: 100%;
}

.update-button,
.manual-toggle {
  margin: 1rem 0;
}

.address-view-title {
  margin-bottom: .5rem;
}

.manual-toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  user-select: none;
  font-weight: 500;
  margin: 1rem 0;
  transition: color 0.2s ease;
}

.manual-toggle span {
  font-size: var(--font-size-text-l);
  font-weight: bold;
}
