.requests-wrapper {
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.requests-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.requests-header-title,
.request-page-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 70%;
}

.filter-requests {
  width: fit-content;
  padding: 0.6rem 2.5rem;
  padding-left: 1rem;
  margin-right: 0.5rem;
  background-color: transparent;
  /* border: none; */
  border-radius: 8px;
  border: 2px solid var(--text-color);
  cursor: pointer;
}

.requests-body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.requests-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 0 0.5rem;
}

.request-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left: 3px solid var(--accent-color);
  padding: 1rem;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.request-item:hover {
  transform: scale(1.01);
  box-shadow: 0px 2px 12px rgba(24, 24, 24, 0.2);
}

.request-item-overview {
  width: 70%;
}

.request-item .inline {
  align-items: stretch;

  gap: 0.5rem;
  padding: 0;
}

.request-item h3 {
  font-size: 1.5rem;
}

.request-item h6 {
  margin: 0;
  font-weight: 500;
}

.request-item p {
  line-height: 1rem;
}

.request-item-actions {
  flex: 1;
  display: flex;
  gap: 1rem;
}

.request-item-actions button {
  margin: 0;
  height: fit-content;
  background-color: transparent;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease,
    background-color 0.2s ease, color 0.2s ease;
}

.approve-request {
  --req-btn-color: rgb(1, 83, 1);
  color: var(--req-btn-color);
  border: 2px solid var(--req-btn-color);
}

.approve-request:hover {
  background-color: var(--req-btn-color);
  color: var(--btn-color);
  transform: scale(1.03);
}

.reject-request {
  --req-btn-color: var(--accent-color);
  color: var(--req-btn-color);
  border: 2px solid var(--req-btn-color);
}
.reject-request:hover {
  background-color: var(--req-btn-color);
  color: var(--btn-color);
  transform: scale(1.03);
}

.overview-button {
  border: 2px solid var(--text-color);
  color: var(--text-color);
}
.overview-button:hover {
  background-color: black;
  color: var(--btn-color);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.03);
}

/* request page */

.request-page-wrapper {
  width: 100%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.request-page-header {
  width: 100%;
  justify-content: center;
  color: var(--accent-color);
}

.request-page-body {
  width: 85%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background-color: #f9f3f3;
}

.request-page-header {
  margin-bottom: 1rem;
}

.request-page-body-details {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}

.req-details-rows {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.request-page-body-details h2 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.req-details-row {
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  gap: 0.5rem;
}

.req-details-row h3 {
  font-size: 1.4rem;
  font-weight: 500;
}

.req-details-row p {
  font-size: 1rem;
}

.request-page-body-answer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 0 1.5rem;
}

.req-admin-note {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.request-page-body-answer textarea,
.request-page-body-answer label {
  width: 80%;
  margin: 0 auto;
}
.request-page-body-answer label {
  margin-bottom: 0.5rem;
}

.request-page-body .request-item-actions {
  margin-top: 1.3rem;
  height: 100%;
  flex: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20%;
}

@media (max-width: 1100px) {
  .request-page-body {
    width: 100%;
  }
  .req-details-row h3 {
    font-size: 1.2rem;
  }

  .request-page-body-answer {
    padding: 0;
  }
  .request-page-body-answer textarea,
  .request-page-body-answer label {
    width: 95%;
  }
}
