.search-results-page {
  width: 100%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}

.search-title {
  text-align: center;
  padding: 1rem 0;
}

.search-results {
  width: 100%;
  padding: 1rem;
}

.search-grid {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  width: 100%;
}

.search-card {
  --border-radius: 0.5rem;
  --primary-color: var(--btn-bg);

  /* padding-bottom: 1rem; */
  cursor: pointer;
  border-radius: var(--border-radius);
  background: var(--card-bg-color, #fff);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.03);
  position: relative;
  box-sizing: border-box;
  gap: 1px;

  display: flex;
  flex-direction: column;

  min-height: 54vh;
  height: fit-content;
  max-width: 20vw;
  font-size: 0.95rem;
  justify-self: center;
  overflow: hidden;
}

.shop {
  min-height: 45vh;
  gap: 1rem;
}

.search-card:hover,
.add-actions:hover {
  box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.1);
}

.search-image-wrapper {
  height: 38vh;
  position: relative;
  display: flex;
  justify-content: center;
}

.search-card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.add-actions {
  position: absolute;
  bottom: 0.5rem;
  display: flex;
  align-items: center;
  margin: 0 auto;
  gap: 0.5rem;
  border-radius: 15px;
  height: 5%;
  background-color: #fff;
  opacity: 0.7;
  padding: 1rem;
}

.add-actions h6 {
  font-size: 0.9rem !important;
}

.add-actions h6:hover {
  text-decoration: underline;
}

.add-actions h6:first-of-type {
  padding-right: 0.5rem;
  border-right: 1px solid #ccc;
}

.search-card p {
  margin-bottom: 1rem;
  font-size: 1rem !important;
  opacity: 0.85;
}

.shop-logo {
  border-radius: 50%;
  width: 70%;
  height: 55%;
  border: 1px solid black;
  margin: 1rem auto;
  margin-bottom: 0;
}

.card-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap:0;
  margin: 0.5rem;
  position: relative;
  margin-bottom: 0;
}
.card-info h3 {
  margin-bottom: 0;
    font-size: 1.6rem !important;

}

/* .card-info .price {
  position: absolute;
  bottom: 0;
  margin: 0 auto;
} */

@media (max-width: 1300px) {
  .search-card {
    width: 36vw !important;
  }
}
@media (max-width: 1200px) {
  .search-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .search-card {
    width: 28vw !important;
  }
}
@media (max-width: 1100px) {
  .search-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .shop-logo {
    width: 60%;
  }
  .search-card {
    width: 32vw !important;
  }
}
@media (max-width: 800px) {
  .search-card {
    max-width: 36vw !important;
  }
}

@media (max-width: 40rem) {
  .search-grid {
    grid-template-columns: 1fr;
  }
  .search-card {
    width: 60% !important;
  }
}
