.wishlist-page {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1.5rem;
}

.wishlist-header {
  margin-bottom: 1.5rem;
}

.wishlist-overview {
  opacity: 0.9;
}

.wishlist-grid {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.wishlist-grid .search-card {
  width: 20vw;
  height: auto;
}

.wishlist-empty-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.wishlist-empty-container p {
  opacity: 0.7;
}
.wishlist-empty-container button {
  width: 30%;
  margin-top: .5rem;
  background-color: transparent;
  border: 2px solid var(--accent-color);
  color: var(--accent-color);
  font-weight: bold;
}

@media (max-width: 1200px) {
  .wishlist-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1100px) {
  .wishlist-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 40rem) {
  .wishlist-grid {
    grid-template-columns: 1fr;
  }
  .wishlist-grid .search-card {
    width: 55vw !important;
    margin: 0 auto;
  }
}
