*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}

:root {
  /* --font-size-text-ss: 1.5rem;
  --font-size-text-s: 1.8rem;
  --font-size-text-m: 2.1rem;
  --font-size-text-l: 2.4rem; */
  --font-size-h6: .8rem;
  --font-size-h5: 1rem;
  --font-size-h4: 1.2rem;
  --font-size-h3: 1.8rem;
  --font-size-h2: 2.6rem;
  --font-size-h1: 3rem;
}

body.light {
  --bg-color: #f2ead3; /*the background color of content between navbar and footer*/
  --footer-bg: #efe7ce;
  --text-color: rgb(39, 38, 38);
  --nav-bg: #efe7ce;
  --btn-bg: #6f0101;
  --btn-color: #f1f1f1;
  --accent-color: #6f0101;
  --a-hover-color: #5f0f0f;
  --card-bg-color: #fff0dd;
}

body.dark {
  --bg-color: #1a1a1a;
  --footer-bg: #242424;
  --text-color: #f3e6e6;
  --nav-bg: #2c2c2c;
}

html,
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", serif; /* change to what's suitable if not okay*/
  overflow-x: hidden;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* headings */

h1 {
  font-size: var(--font-size-h1);
  line-height: var(--line-height-h1);
}

h2 {
  font-size: var(--font-size-h2);
  line-height: var(--line-height-h2);
}

h3 {
  font-size: var(--font-size-h3);
  line-height: var(--line-height-h3);
}

h4 {
  font-size: var(--font-size-h4);
  line-height: var(--line-height-h4);
}

h5 {
  font-size: var(--font-size-h5);
  line-height: var(--line-height-h5);
}

h6 {
  font-size: var(--font-size-h6);
  line-height: var(--line-height-h6);
}

/* button common styling */
button {
  background-color: var(--btn-bg);
  color: var(--btn-color);
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.8;
}

/* icon images styling */
img.icon {
  height: 1rem;
  width: 1rem;
  cursor: pointer;
}

/* icon buttons styling */
.icon-btn {
  background: none;
  border: none;
  cursor: pointer;
}
.icon-btn:hover {
  background-color: transparent;
}

/* links styling */
a {
  color: var(--text-color);
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
  color: var(--a-hover-color);
}

/* input related elements styling */
label {
  display: block;
  margin-bottom: 0.3rem;
  font-weight: bold;
  text-align: left;
}

input {
  margin: 0;
}

textarea {
  padding: 0.5rem;
}

p {
  text-align: justify;
}

.disabled-link {
  opacity: 0.4;
  cursor: not-allowed;
}

.required {
  color: red;
  font-size: 0.9rem;
}
.disabled {
  opacity: 0.9;
  cursor: not-allowed;
}

.none {
  display: block;
  text-align: center;
}
