@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}

:root {
  --font-size-text-ss: 0.9rem;
  --font-size-text-s: 1rem;
  --font-size-text-m: 1.2rem;
  --font-size-text-l: 1.4rem;
  --font-size-h6: 1rem;
  --font-size-h5: 1.4rem;
  --font-size-h4: 1.6rem;
  --font-size-h3: 2rem;
  --font-size-h2: 2.2rem;
  --font-size-h1: 2.6rem;
}

body.light {
  --bg-color: #f9f3f3; /*the background color of the main content*/
  --footer-bg: #f9f3f3;
  --nav-bg: #f9f3f3;
  --text-color: rgb(39, 38, 38);
  --text-contrast-color: #f1f1f1;
  --btn-bg: #6f0101;
  --btn-color: #f1f1f1;
  --btn-contrast-color: rgb(39, 38, 38);
  --accent-color: #6f0101;
  --a-hover-color: #5f0f0f;
  --card-bg-color: #fefdfc;
}

body.dark {
  --bg-color: #1a1a1a;
  --footer-bg: #242424;
  --text-color: #f3e6e6;
  --nav-bg: #2c2c2c;
}

html,
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  margin: 0;
  padding: 0;
  font-family: "Playfair", serif; /* change to what's suitable if not okay*/
  font-weight: 300;
  overflow-x: hidden;
  min-height: 100vh;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
main {
  flex: 1;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
}

/* headings */

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}

h4 {
  font-size: var(--font-size-h4);
}

h5 {
  font-size: var(--font-size-h5);
}

h6 {
  font-size: var(--font-size-h6);
}

p {
  text-align: justify;
  font-size: var(--font-size-text-s);
  line-height: 1.4rem;
}

/* button common styling */
button {
  width: 100%;
  padding: 0.6rem;
  border: none;
  border-radius: 8px;

  background-color: var(--btn-bg);
  color: var(--btn-color);

  font-size: var(--font-size-text-s);
  font-weight: 400;

  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.8;
}

/* icon images styling */
img.icon {
  height: 1rem;
  width: 1rem;
  cursor: pointer;
}

/* icon buttons styling */
.icon-btn {
  background: transparent !important;
  border: none;
  cursor: pointer;
}
.icon-btn:hover {
  background-color: transparent;
}

/* links styling */
a {
  color: var(--text-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
  color: var(--a-hover-color);
}

/* input related elements styling */
label {
  display: block;
  margin-bottom: 0.2rem;
  font-weight: bold;
  text-align: left;
}

input {
  width: 100%;
  margin: 0;
  padding: 0.6rem;
  font-size: 1rem;
  border: 1px solid #bbb;
  border-radius: 5px;
  margin-bottom: 1rem;
  box-sizing: border-box;
}

input[type="radio"],
input[type="checkbox"] {
  accent-color: var(--accent-color);
}

button,
input,
select {
  font-family: "Playfair", serif;
}

textarea {
  padding: 0.5rem;
  border: 1px solid #bbb;
}

.inline {
  display: flex;
}

.price {
  font-family: "sans-serif";
}

.disabled-link {
  opacity: 0.8;
  cursor: not-allowed !important;
  text-decoration: none !important;
}

.required {
  color: red;
  font-size: 0.9rem;
}

.error {
  color: #bc0202;
  font-size: .95rem;
  font-weight: 500;
  margin-bottom: 0.6rem;
}

.disabled,
button[type="submit"]:disabled {
  opacity: 0.8;
  cursor: not-allowed !important;
}

.none {
  display: block;
  text-align: center;
}

.empty-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.loader {
  margin: 0 auto;
  width: 50px;
  aspect-ratio: 4;
  background: radial-gradient(
      circle closest-side,
      var(--accent-color) 90%,
      #0000
    )
    0 / calc(100% / 3) 100% space;
  clip-path: inset(0 100% 0 0);
  animation: l1 1s steps(4) infinite;
}
@keyframes l1 {
  to {
    clip-path: inset(0 -34% 0 0);
  }
}
